/*//////
/* GERAL */

* {
    padding: 0;
    margin: 0;
    font-family: "Funnel Display", "Rockweel",  sans-serif;
}

body {
    background: url(../img/bg.png) no-repeat fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Funnel Display",  "Rockweel",  sans-serif;
}

.titulos {
    letter-spacing: 0.1em;
}

a:hover {
    text-decoration: none;
}



/*//////
/* BARRA DE NAVEGAÇÃO */


.navbar {
    background: #008282;
    box-shadow: 2px 2px 50px 1px #0e0e0e;
}

.nav-link {
    color: #00FFF0;
    letter-spacing: 0.05em;
}

.nav-link:hover {
    color: #D9D9D9;
    font-weight: bold;
}





/*//////
/* RODAPÉ */

#rodape {
    background: #008282;
    color: #D9D9D9;
    text-transform: uppercase;
    max-width: 100%;
    display: grid;
    grid-template-areas: 
    "container"
    "logo-rodape";
}

#rodape .container .navbar-nav{
    display: grid;
    grid-template-areas: 
    "nav-item nav-item nav-item nav-item nav-item";
    margin: 1em;
}

#rodape .nav-item {
    color: #D9D9D9;
    grid-area: 
    "nav-item";
    text-align: center;
}

#rodape .nav-item img {
    width: 30px;
    height: 30px;
}


.logo-rodape {
    min-width: 100%;
    text-align: center;
    background: #0e0e0e;
    padding: 20px 0px;
    grid-area: "logo-rodape";
}