/*////////   GERAL */

* {
    padding: 0;
    margin: 0;
    font-family: "Funnel Display", sans-serif;
}

body {
    background: url(../img/bg.png) no-repeat fixed;
    background-size: cover;
}

h1 {
    font-family: "Unbounded", sans-serif;
}

h2 {
    font-family: "Unbounded", sans-serif;
}

.titulos {
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

a:hover {
    text-decoration: none;
}
