/* SESSÃO CARROSEL */

#carousel {
    margin: 0 auto;
    width: 100%;
    height: 450px;
    margin-top: 76px;
    border: 1px solid aqua;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
}

.manual-nav {
    position: absolute;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn {   
    border: 2px solid #008282;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {   
    margin-right: 40px;
}



/*//////
/* SESSÃO SERVIÇOS E PROJETOS */

#servicos, #projetos {
    text-align: center;
    justify-items: center;
    color: #00FFF0;
    margin: 2em 0 3em 0;
}


.container-itens {
    max-width: 1200px;
    display: grid;
    grid-template-areas: "card card";
    grid-gap: 2em;
}

.card {
    background: url(../img/crua.png) no-repeat center;
    background-size: cover;
    color: #00FFF0;
    grid-area: "card";
    width: 450px;
    height: 250px;
    margin: 3em 1.5em;
    border-radius: 0.5em;
    border: #0e0e0e 1.5px solid;
    box-shadow: 0.3px 0.3px 15px 1px #008282;
}

.card a {
    background-color: #0e0e0e;
    opacity: 0.7;
    border-radius: 1em;
    padding: 0.3em 1em;
}

.card-img-overlay{
    letter-spacing: 0.03em;
    display: flex;
    align-items: end;
}


/* SESSÃO SOBRE */


#sobre .container {
    background: #00FFF0;
    display: flex;
    max-width: 100%;
    box-shadow: inset 2px 2px 50px 1px #0e0e0e;
}

.foto {
    background: #008282;
    max-width: 520px;
    text-align: center;
    margin-left: 4em;
}

#sobre .foto img {
    min-width: 200px;
    max-width: 270px;
    margin: 3em 2em 2em 2em;
}

.minibio {
    padding: 3.5em;
}

.minibio p {
    margin: 1em 3em 3em 0;
}

@media (max-width: 900px) { 
    #sobre .container {
        flex-direction: column;
    }

    .foto {
        max-width: 100%;
        margin-left: 0;
    }

    .minibio {
        padding-left: 9em;
    }
}


/*//////
/* SESSÃO ISCA */

#isca {
    align-items: center;
    color: #00FFF0;
    margin: 7em 0;
}

#isca .container {
    display: grid;
    grid-template-areas: "text-isca imgs-isca";
    background: url(../img/bg-isca.png) no-repeat center;
    background-size: cover;
    height: 300px;
    padding: 2em 3em;
    border-radius: 10px;    
    border: 2px solid #00FFF0;
    box-shadow: 0.3px 0.3px 15px 1px #00FFF0;
}

#isca .container .text-isca {
    grid-area: "text-isca";
    align-self: center;
}

#isca .container .imgs-isca {
    grid-area: "imgs-isca";
    align-self: center;
}

#isca .container img {
    grid-area: "imgs-isca";
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-left: 1em;
}



@media (max-width: 1200px) { 
  
    #isca .container {
        display: grid;
        grid-template-areas: 
        "text-isca"
        "imgs-isca";
        height: 550px;
        text-align: center;   
    }

    #isca .container .text-isca {
        grid-area: "text-isca";
        margin-bottom: 2em;
    }

    #isca .container .imgs-isca {
        grid-area: "imgs-isca";
        margin-bottom: 2em;
    }
}

@media (max-width: 767.999px) { 
  

    #isca .container {
        display: grid;
        grid-template-areas: 
        "text-isca"
        "imgs-isca";
        height: 630px;
        width: 700px;
        padding: 2em;
        justify-content: center;
    }

    #isca .container .text-isca {
        grid-area: "text-isca";
        margin: 1em 6em 2em 6em;
    }

    #isca .container .imgs-isca {
        grid-area: "imgs-isca";
        grid-gap: 2em;
    }

    #isca .container img {
        width: 200px;
        height: 150px;
        border-radius: 10px;
    }

}
